<h1>Hola  Mundo</h1>
<p>Find me in app/views/pages/index.html.erb</p>


<h2>Esto es un título</h2>

<p>Copyright <%= Time.now.year %></p>

<%'Hola, esto no se va a imprimir' %>
<%='Hola, esto SI se va a imprimir' %>